#!/bin/bash

# Check if nuclei is installed
if ! [ -x "$(command -v nuclei)" ]; then
  echo 'Error: nuclei is not installed.' >&2
  echo 'Please install nuclei from https://github.com/projectdiscovery/nuclei' >&2
  exit 1
fi

# Get list of available templates
templates=$(ls /root/nuclei-templates)

# Prompt user to choose template
echo "Please choose a template to use:"
PS3="Enter number: "
options=($templates "Quit")
select opt in "${options[@]}"
do
  case $opt in
    "Quit")
      echo "Exiting..."
      exit 0
      ;;
    *) 
      template_path="/root/nuclei-templates/$opt"
      echo "Using $template_path template"
      break
      ;;
  esac
done

# Prompt user to enter target URL
read -p "Enter target URL: " url

# Use nuclei tool with chosen template and target URL
nuclei -t $template_path -u $url -o output.txt
